*{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
}

.homepage{
      min-height: 100vh;
      background-color: indigo;
      background-size: 100%;
}

.container {
      width: 100%;
}


.homepage-header{
      background-color: mediumpurple;
      width: 100%;
}

.homepage-header-content{
      margin: auto;
      text-align : center;
      padding: 70px 0px 130px;
}

.menu{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      position: fixed;
}

.nav {
      padding: 20px 0px 10px;
      margin: auto;
      text-align : center;
}

.nav a{
      color: white;
}

.title{
      color: white;
      padding-top: 60px;
}

header h1 {
  font-weight : 900;
  font-size: 7em;
  color: gold;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.homepage-body{
      width:  60%;
      margin: auto;
      background-color: white;
      padding: 55px 45px;
      margin-top: -65px;
}

.Next-Event-Title h3{
      font-weight: 600;
}

.Info-title{
      font-weight: bold;
}

.gallery-image{
      text-align: center;
}

.Event-info{
      padding: 10px 0px 20px;
}

.Special-info{
      color: blueviolet;
}

.Join-button{
      text-align: center;
      padding-top: 30px;
}

.register-button{
      width: 200px;
      height: 100px;
}

.registerpage, .aboutpage{
      min-height: 100vh;
      background-color: indigo;
      background-size: 100%;
}

.registerpage-header-content, .contactpage-header-content{
      padding: 120px 0px 70px;
}

.aboutpage-header-content{
      padding: 120px 0px 50px;
}

.form-label {
      font-weight: bold;
}

.registerpage-body, .contactpage-body{
      background-color: white;
      width: 60%;
      margin: auto;
      padding: 55px 45px;
}

 .aboutpage-body{
      width: 50%;
      background-color: white;
      margin: auto;
      padding: 55px 45px;
 }

.contactpage{
      padding-bottom: 50px;
}

.feedback{
      margin: 20px 0px 50px;
}

.contactpage{
      min-height: 90vh;
      background-color: indigo;
      background-size: 100%;
}

footer{
      min-height: 10vh;
      background-color: mediumpurple;
}

.copyright{
      padding: 50px;
      text-decoration: none;
}

.logo h5{
      padding: 25px;
      font-size: 3em;
      color: gold;
      text-align: center;
      font-family: 'Pacifico', cursive;
}

.about-article{
      padding-bottom: 40px;
}

.About-Text{
      padding-top: 15px;
}
